.uploadImageHidden {
  visibility: hidden;
}
.uploadImageShow {
  width: 100px;
  height: 100px;
  background-color: black;
}

.flex-center {
  display: flex;
  justify-content: start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: end;
  align-items: center;
}
.borderr {
  border: 1px solid red;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body {
  background-color: #121212 !important;
}

.inputs {
  form {
    padding: 20px 0px 50px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.04);
    .spinner-border {
      margin-right: 10px;
    }
    input,
    textarea {
      border: transparent;
      background-color: rgba(255, 255, 255, 0.04) !important;
      color: #fefefe !important;
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      &::placeholder {
        color: #959595;
        font-size: 16px;
        font-weight: 600;
        line-height: 25px;
      }
    }
    textarea {
      height: 100%;
      resize: none;
    }
    button {
      width: 100%;
      padding: 10px 20px;
      color: #121212;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      background-color: #feaf00;
      border-radius: 8px;
      border: none;
    }
    .fileUpload {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.04);
      color: #fefefe;
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      .upload {
        border-radius: 8px;
        background-color: #0026fe93;
        width: 100%;
        padding: 10px 20px;
        cursor: pointer;
      }

      input[type="file"] {
        display: none;
      }
    }
    .wrapper-img {
      width: 80%;
      height: 50px;
      border-radius: 8px;
      overflow: hidden;
      background-color: #e6e6e6;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        object-fit: contain;
        background-color: #fff;
      }
    }
    .toastError{
      font-size: 16px;
      margin-top: 5px;
      color: rgba(224, 8, 8, 0.89);
      font-weight:400;
      line-height: 20px;
    }
  }
}

.items {
  padding: 25px 0;
  .head-list {
    padding: 10px 0;
  }
  h3 {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #fefefe;
  }
  .wrapper {
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.04);
    padding: 10px;
    border: 1px solid;
    transition: all 400ms ease;

    &:hover {
      border: 1px solid #feaf00;
    }

    .wrapper-img {
      width: 50px;
      height: 45px;
      border-radius: 8px;
      overflow: hidden;
      background-color: #e6e6e6;
      cursor: pointer;
      .image-item {
        text-decoration: none;
        color: transparent;
        object-fit: contain;
        mix-blend-mode: multiply;

        width: 100%;
        height: 100%;
      }
    }
    h4 {
      padding: 0 10px;
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      color: #959595;
    }
    .wrapper-btn {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      button {
        background: transparent;
        border: none;
      }
    }
  }
  .no-data {
    text-align: center;
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .Card-item {
    text-decoration: none;
    color: transparent;
  }
}

.Details {
  // height: 90vh;
  .wrapper-card-details {
    padding-top: 20px;
    .wrapper-card {
      background-color: rgba(255, 255, 255, 0.04);
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      // justify-content: center;
      align-items: center;

      .wrapper-image {
        width: 40%;
        height: 100%;
        background-color: #fff;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          mix-blend-mode: multiply;
        }
      }
      .details-card {
        width: 60%;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-card {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
          color: #fefefe;
          margin-bottom: 20px;
        }
        .des-card {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: #959595;
        }
        .autor-date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          .autor-card {
            font-size: 16px;
            font-weight: 600;
            line-height: 25px;
            color: #feaf00;
          }
          .date-time {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .date-card {
              font-size: 14px;
              font-weight: 500;
              line-height: 25px;
              color: #959595;
            }
            .time-card {
              font-size: 14px;
              font-weight: 500;
              line-height: 25px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.show {
  .wrapper-card-show {
    padding: 20px 0;
    .wrapper-card {
      background-color: rgba(255, 255, 255, 0.04);
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .wrapper-image {
        width: 100%;
        height: 170px;
        background-color: #fff;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          mix-blend-mode: multiply;
        }
      }
      .details-card {
        height: 200px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title-card {
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
          color: #fefefe;
          margin-bottom: 20px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .des-card {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: #959595;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .autor-date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          .autor-card {
            font-size: 16px;
            font-weight: 600;
            line-height: 25px;
            color: #feaf00;
          }
          .date-time {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .date-card {
              font-size: 14px;
              font-weight: 500;
              line-height: 25px;
              color: #959595;
            }
            .time-card {
              font-size: 14px;
              font-weight: 500;
              line-height: 25px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.navbar {
  background-color: #121212 !important ;
  .navbar-brand {
    color: #fefefe;
  }
  .nav-link-item {
    color: #fefefe;
    text-decoration: none;
    padding: 5px 10px;
  }
  .nav-link:hover {
    color: #fefefe;
  }
}
@media screen and (max-width:768px){
  
  .Details {
    .wrapper-card-details {
      .wrapper-card {

        .wrapper-image {
          width: 100%;
          height: 40%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .details-card {
          width: 100%;
          padding: 10px 20px;
        
          .title-card {
            font-size: 18px;
          
          }
          .des-card {
            font-size: 12px;
        
          }
          .autor-date {
            gap: 10px;
            .autor-card {
              font-size: 14px;
            
            }
            .date-time {
          
              gap: 5px;
              .date-card {
                font-size: 10px;
              
              }
              .time-card {
                font-size: 10px;
              
              }
            }
          }
        }
      }
    }
  }
    
  .inputs {
    form {
      
      .wrapper-img {
        width: 50%;
        height: 100px;
        margin: auto;
    
    
      }
      textarea{
        height: 200px;
      }
    
    }
  }
}